version: 2.1
orbs:
  python: circleci/python@1.2

jobs:
  build:
    docker:
      - image: circleci/python:3.6.4
   steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - python/install-packages:
          pip-dependency-file: requirements.txt
          pkg-manager: pip
      - python/install-packages:
          args: pytest
          pkg-manager: pip
          pypi-cache: false
